.container {
    display: grid;
    width:50vw;
    height:40vw;
    grid-gap: 8px;
    margin-bottom: 50px;
    grid-template-columns: 25% 75%;
    grid-template-rows: 10% 20% auto;
}

.item {
    border: 3px solid black;
    border-radius: 7px;
    font-size: 25px;
    padding: 10px;
}

.item:hover {
    background-color: #EEEEEE77;
    border-color: #333333;
}

.article {
    grid-column: 2/-1;
    background-color: #D0DFC7;
}

.article:hover {
    background-color: #E0EFD7;
}

.nav {
    grid-column: 1;
    grid-row: 3;
}

.meta {
    grid-column: 1;
    grid-row: 2;
}

.title {
    grid-row: 1;
}

.content {
    grid-row: 2/-1;
}


.inpClass {
    background-color: transparent;
    border-color: transparent;
}
